body{
    margin:0;
}
*{
    box-sizing: border-box;
    /* border: 1px solid black; */
}
.menu_container{
    background-color: whitesmoke;
    height:3.5rem;
    display: flex;
    
}

.formula_container{
    height: 2.2rem;
    display: flex;
    justify-content: flex-start;
    background-color:rgb(161, 236, 161);
    align-content: center;
    gap: 2rem;
    padding-top: 5px;
    padding-left: 40px   
}
.formula{
    height: 80%;
    width: 65%;
}
.adress{
   height:80%;
   width:10%;
}
.grid_container{
    height: calc( 100vh - (5rem + 2rem + 2rem) );
}
.sheet_container{
    display: flex;
    height:2.5rem;
}
.sheetlist_container{
    width:97%;
    height: 97%;
    display: flex;
    border: 1px solid;
    overflow-x: auto;

}
/* Hide scrollbar for Chrome, Safari and Opera */
.sheetlist_container::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .sheetlist_container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
.sheet{
    height:100%;
   /* we give min width for not to be overflow */
    min-width: 5% ;
    padding-top:0.5rem ;
    border: 1px solid;
    background-color:whitesmoke;
}
.active{
 background-color: rgb(187, 185, 185);
}
.icon_container{
    width:3%;
    border: 1px solid;
    display: flex;
    justify-content:center;
    align-items:center;
}
.icon{
    font-size: 1.5rem;
}




/* for grid */
.left_box{
   height:2rem;
   width:2rem;
   background-color: gray;
}
.top_row{
    position: absolute;
    display: flex;
    left: 31px;
    top: 0px;
}
.cell{
 display:flex;
 height:2rem;
 min-width:5rem;
 border: 1px solid;
 justify-content: center;
 align-items: center;
 max-width:5rem;
 
}
.block{
    width:2rem;
    height:2rem;
    border: 1px solid;
    text-align: center;
    
}
.row{
    display: flex;
}
.left_column{
   position:absolute; 

}
.grid_container{
    overflow: auto;
    position: relative;
}
.grid{
    position: absolute;
   left:31px;
}